<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="row col-lg-6">
        <div class="form-fream">
          <div class="form-area">
            <p class="form-area-title">
              Potepan Shareでまだ体験したことのない旅をしよう
            </p>
            <%= form_with url: hotels_path, method: :get, local: true do |f| %>
              <%= f.label :area, "エリア" %>
              <%= f.search_field :area, class:"form-control mb-4" %>
              <%= f.submit "探す", class:"btn-primary mb-4" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel-area">
      <h1 class="section-title">
        おすすめのエリア
      </h1>
      <div class="row">
        <div class="panel-item col-6">
          <span>東京</span>
          <%= link_to hotels_path(area:'東京') do %>
            <%= image_tag "https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg", class:"panel-image" %>
          <% end %>
        </div>
        <div class="panel-item col-6">
          <span>大阪</span>
          <%= link_to hotels_path(area:'大阪') do %>
            <%= image_tag "https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg", class:"panel-image" %>
          <% end %>
        </div>
        <div class="panel-item col-6">
          <span>京都</span>
          <%= link_to hotels_path(area:'京都') do %>
            <%= image_tag "https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg", class:"panel-image" %>
          <% end %>
        </div>
        <div class="panel-item col-6">
          <span>札幌</span>
          <%= link_to hotels_path(area:'札幌') do %>
            <%= image_tag "https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg", class:"panel-image" %>
          <% end %>
        </div>
      </div>
    </div> 
  </div>
</div>
